:root {
    --corPrincipalVerde: #B8CA49;
    --corPrincipalAzul: #273352;

    --corTextoPadrão: #121212;
    --corTextoFundoEscuro: #F3F3F3;

    --sizeTituloH2: 32px;
    --sizeParagrafoGeral: 24px;
    --listMods: 28px;
    --sizeTituloH1: 32px;
    --sizeRodapeH3: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.removerTopico {
  display: none;
}

.div__geral {
    overflow-x: hidden;
    box-sizing: border-box;
}

.container__displayFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__displayFlexColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.paragrafos {
    display: flex;
    align-items: flex-start;
    margin: 2% auto;
    flex-direction: column;
    width: 80%;
}

.paragrafo__geral {
    font-size: var(--sizeParagrafoGeral);
    text-align: justify;
    color: var(--corTextoPadrão);
    padding: 12px;
    margin-left: 2%;
    margin-right: 2%;
}

.container__tituloImagem {
  align-items: flex-start;
}

.container__tituloModulo {
    align-items: flex-start;
    margin-left: 5%;
}

.descricao__umTitulo {
    font-size: var(--sizeParagrafoGeral);
    text-align: justify;
    color: var(--corTextoPadrão);
}

.descricao__rodape {
    font-size: var(--sizeRodapeH3);
    text-align: justify;
    color: var(--corTextoPadrão);
}

.tituloModulo {
    font-size: 42px;
    font-weight: bold;
    color: var(--corPrincipalAzul);
}

.tituloNumeroModulo {
    font-size: 42px;
    text-align: left;
    font-weight: bold;
    color: var(--corPrincipalAzul);
}

.img__capa {
    display: block;
}

.img__capaMobile {
    display: none;
}

.container__planificar--azulTracado {
    width: 100%;
    background-color: var(--corPrincipalAzul);
    border-top: 5px solid var(--corPrincipalVerde);
    border-bottom: 5px solid var(--corPrincipalVerde);

    margin: 2% 0%;
    padding: 2% 0%;
}

.container__planificar--imagemTexto {
    margin: 2%;
}

.gif__porquePlanificar {
    display: block;
}


.container_planificar--texto {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 80%;
    align-items: center;
}

.container_planificar--texto iframe {
  border-radius: 25px;
}

.planificar__titulo {
    font-size: var(--sizeTituloH2);
    font-weight: bold;
    text-align: center;
    color: var(--corTextoFundoEscuro);
}

.planificar__tituloazul {
    font-size: var(--sizeTituloH1);
    font-weight: bold;
    text-align: center;
    color: var(--corPrincipalAzul);
}


.planificar__descricao {
    font-size:var(--sizeParagrafoGeral);
    text-align: center;

    color: var(--corTextoFundoEscuro);
}

.container__cargaHoraria--azul {
    align-items: center;
    display: flex;

    height: 150px;
    width: 80%;

    background-color: var(--corPrincipalAzul);

    border-radius: 25px;

    margin: auto;

    padding: 2%;
}

.titulo__cargaHoraria {
    color: var(--corTextoFundoEscuro);
    font-size: --sizeTituloH2;
    padding: 2% 0% 2% 2%;
}

.gif_relogio {
    display: block;
    padding: 2%;
  
}

.container__cargaHoraria--branca {
    width: 70%;
    height: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.45);
    border-radius: 0px 0px 25px 25px;

    align-items: center;
    display: flex;

    margin: auto;
}

.lista__modNomes {
    margin: auto;
    width: 80%;
}

.lista__modNomes li {
    font-size: var(--listMods);
    font-weight: bold;
    text-align: justify;
    list-style: inside;
    color: var(--corTextoPadrão);
    padding: 1rem;
}



.container__exitoEstudos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: 8px solid #273352;
    background-color: transparent;
    border-radius: 25px;

    margin: auto;
    width: 60%;
}

.titulo__exitoEstudos {
    color: var(--corPrincipalAzul);
    font-size: var(--sizeTituloH2);
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.gif_exitoEstudios {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.titulo__navegacao {
    color: var(--corPrincipalAzul);
    font-size: var(--sizeTituloH2);
    margin:1rem auto;
    text-align: center;

}

.container__botoesNav {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container__footer--tresBotoes {
    display: flex;
    flex-direction: row;
}


.container__Botoesfundoescuro {
    display: flex;
    flex-direction: row;
}

.botao__nav--mods {

    height: 70px;
    width: 200px;

    background-color: var(--corPrincipalAzul);
    border: none;
    border-radius: 25px;
    color: var(--corTextoFundoEscuro);

    font-size: var(--sizeParagrafoGeral);
    font-weight: bold;
    text-align: center;

    margin: 0.5rem;

    transition: all 250ms ease-in-out;

    margin-bottom: 5%;
}

.botao__nav--mods:hover {
    background-color: var(--corPrincipalVerde);
    color: var(--corPrincipalAzul);

    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);

    transform: scale(1.05);
}


.botao__nav--mods2 {

    height: 70px;
    width: 500px;

    background-color: var(--corPrincipalVerde);
    border: none;
    border-radius: 25px;
    color: var(--corPrincipalAzul);

    font-size: var(--sizeParagrafoGeral);
    font-weight: bold;
    text-align: center;

    margin: 0.5rem;

    transition: all 250ms ease-in-out;

    margin-bottom: 5%;
}

.botao__nav--mods2:hover {
    background-color: var(--corTextoFundoEscuro);
    color: var(--corPrincipalAzul);

    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);

    transform: scale(1.05);
}



@media screen and (max-width: 1200px) {
    .container__cargaHoraria--branca {
        height: 650px;
    }

    .botao__nav--mods {
        width: 180px;
    }
}

@media screen and (max-width: 1100px) {
    .container__cargaHoraria--branca {
        height: 700px;
    }

    .botao__nav--mods {
        width: 150px;
    }
}

@media screen and (max-width: 900px) {

    :root {
        --sizeTituloH2: 28px;
        --sizeParagrafoGeral: 18px;
        --listMods: 24px;
    }

    .container__tituloImagem {
        flex-direction: column-reverse;
    }

    .container__tituloModulo {
        align-items: center;
        margin: 2rem;
    }

    .descricao__umTitulo {
        text-align: center;
    }

    .paragrafos {
        width: 100%;
        margin: auto;
    }

    .paragrafo__geral {
        /*margin: 2rem;*/
    }

    .container__planificar--imagemTexto {
        flex-direction: column;
    }

    .container_planificar--texto {
        margin: 2rem auto;
    }

    .planificar__descricao {
        text-align: justify;
    }

    .img__capa {
        display: none;
    }

    .img__capaMobile {
        display: block;
    }

    .container__cargaHoraria--azul {
        flex-direction: column;
        text-align: center;
        height: 280px;
        padding:1rem ;
    }

    .container__cargaHoraria--branca {
        height: 650px;
    }

    .container__botoesNav {
        flex-direction:flex;
    }

    .botao__nav--mods {
        width: 180px;
    }
}

@media screen and (max-width:730px) {
    :root {
        --sizeTituloH2: 26px;
        --sizeParagrafoGeral: 16px;
        --listMods: 20px;
    }
    .container__cargaHoraria--branca {
        height: 650px;
    }
}
@media screen and (max-width: 550px) {
    :root {
        --sizeTituloH2: 22px;
        --sizeParagrafoGeral: 12px;
        --listMods: 18px;
    }

    .container__logoCurso img {
        width: 90%;
    }

    .container__planificar--imagemTexto img {
        width: 80%;
    }

    .container__cargaHoraria--azul {
        height: 320px;
    }

    .container__cargaHoraria--branca {
        height: 750px;
    }

    .botao__nav--mods {
        width: 120px;
    }
}


.container__videoUm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #273352;
    border-top: 5px solid #B8CA49;
    border-bottom: 5px solid #B8CA49;
    margin: 2% 0%;
    padding: 2% 0%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container__videoUm h2 {
    color: #F3F3F3;
    font-size: 36px;
    font-weight: bold;
    padding: 0.2rem 2rem 1rem;
    text-align: center;
  }
  
  .container__videoUm iframe {
    border-radius: 25px;
    margin: auto;
    width: 600px;
    height: 400px;
  }
  
  .container__h5p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container__h5p h2 {
    color: #273352;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: auto;
  }
  
  .container__h5p iframe {
    width: 600px;
    height: 400px;
    margin: auto;
  }
  
  .container__h5p p {
    color: #121212;
    font-size: 24px;
    font-weight: 400;
  }
  
  .container__h5p a {
    text-decoration: none;
    border: none;
  }
  
  .container__h5p a button {
    height: 70px;
    width: 500px;
    background-color: #273352;
    color: #F3F3F3;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    cursor: pointer;
  }
  
  .container__h5p a button:hover {
    background-color: #B8CA49;
    color: #273352;
    -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .container__ebook {
    background-color: #273352;
    border-top: 5px solid #B8CA49;
    border-bottom: 5px solid #B8CA49;
    margin: 2% 0%;
    padding: 2% 0%;
    width: 100%;
  }
  
  .container__ebook div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 4rem;
  }
  
  .container__ebook div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2rem;
  }
  
  .container__ebook div div p {
    color: #F3F3F3;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
  }
  
  .container__ebook div div button {
    height: 70px;
    width: 500px;
    background-color: #B8CA49;
    color: #273352;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    margin: 2rem auto;
  }
  
  .container__ebook div div button:hover {
    background-color: #F3F3F3;
    color: #273352;
    -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .container__fixacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container__fixacao h2 {
    color: #273352;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  
  .container__fixacao div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .container__fixacao div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 2rem;
  }
  
  .container__fixacao div div img {
    margin: 1rem 0rem;
  }
  
  .container__fixacao div div a {
    text-decoration: none;
    border: none;
  }
  
  .container__fixacao div div a button {
    height: 70px;
    width: 500px;
    background-color: #273352;
    color: #F3F3F3;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    cursor: pointer;
  }
  
  .container__fixacao div div a button:hover {
    background-color: #B8CA49;
    color: #273352;
    -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .container__saibaMais {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container__saibaMais iframe {
    border-radius: 25px;
  }
  
  .container__saibaMais h2 {
    color: #273352;
    font-size: 36px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }
  
  .container__saibaMais p {
    color: #121212;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    text-align: center;
  }
  
  .container__saibaMais button {
    height: 70px;
    width: 500px;
    background-color: #273352;
    color: #F3F3F3;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    cursor: pointer;
  }
  
  .container__saibaMais button:hover {
    background-color: #B8CA49;
    color: #273352;
    -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .container__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .container__nav h2 {
    display: none;
  }
  
  .container__nav a {
    text-decoration: none;
    border: none;
  }
  
  .container__nav a button {
    height: 70px;
    width: 300px;
    background-color: #273352;
    color: #F3F3F3;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    cursor: pointer;
  }
  
  .container__nav a button:hover {
    background-color: #B8CA49;
    color: #273352;
    -webkit-box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  @media screen and (max-width: 900px) {
    .container__tituloCapa {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
    .container__tituloCapa .container__tituloCapa--titulo {
      margin: 2rem;
      text-align: center;
    }
    .container__tituloCapa .imagem__tituloCapa--desktop {
      display: none;
    }
    .container__tituloCapa .imagem__tituloCapa--mobile {
      display: block;
    }
    .container__paragrafos {
      text-align: center;
    }
    .container__videoUm {
      padding: 2rem 0px;
    }
    .container__videoUm iframe {
      width: 400px;
      height: 320px;
    }
    .container__h5p h2 {
      margin: 0px 2rem;
    }
    .container__h5p iframe {
      width: 400px;
      height: 320px;
    }
    .container__h5p p {
      text-align: center;
    }
    .container__ebook div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 2rem;
    }
    .container__ebook div div {
      margin: 0px;
    }
    .container__ebook div div p {
      text-align: center;
    }
    .container__fixacao {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .container__fixacao h2 {
      text-align: center;
    }
    .container__fixacao div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .container__fixacao div div {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0px;
    }
    .container__fixacao div div img {
      width: 60px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .container__videoUm iframe {
      width: 320px;
      height: 200px;
    }
    .container__h5p iframe {
      width: 320px;
      height: 200px;
    }
    .container__h5p a button {
      width: 250px;
      height: 90px;
    }
    .container__ebook div div a button {
      width: 250px;
      height: 90px;
    }
    .container__fixacao div div a button {
      width: 250px;
      height: 90px;
    }
    .container__saibaMais button {
      width: 250px;
      height: 90px;
    }
    .container__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .container__nav h2 {
      color: #273352;
      font-size: 36px;
      font-weight: bold;
      display: block;
    }
    .container__nav a button {
      width: 250px;
      height: 90px;
    }
}